<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administração do calendário acadêmico</title>
    <link rel="stylesheet" th:href="@{/css/calendar.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<section style="position:relative; top: 0; width: 100%">
    <header th:replace="fragments/header :: header"></header>
</section>

<!-- Conteúdo principal -->
<div class="calendar-container">
    <div class="calendar-body">
        <div class="select-container">
            <select id="monthSelect"></select>
            <select id="yearSelect"></select>
        </div>
        <div id="calendar"></div>
        <div id="eventDetails"></div>
    </div>
</div>

<!-- Modal de Adicionar Evento -->
<div id="eventModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="eventModalLabel">Adicionar Evento</h2>
        <form id="eventForm">
            <input type="text" id="eventTitle" placeholder="Título do Evento" required>
            <input type="time" id="eventTime" required>
            <textarea id="eventDescription" placeholder="Descrição do Evento" required></textarea>
            <button type="button" onclick="addEvent()">Adicionar</button>
        </form>
    </div>
</div>

<section style="position:relative; bottom: 0; width: 100%">
    <footer th:replace="fragments/footer :: footer"></footer>
</section>

<script src="js/script.js"></script>
</body>
</html>
