<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fatec - Mogi das Cruzes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/pages/admin/admin.css}">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <div class="container" style="margin-top: 6rem;">
        <h1 class="text-center mb-4">Agendamentos</h1>
        <div class="text-end mb-3">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agendamentoModal">Novo Agendamento</button>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <!-- Agendamentos serão populados aqui -->
                <tr th:each="agendamento : ${agendamentos}">
                    <td th:text="${agendamento.titulo}">Título do Agendamento</td>
                    <td th:text="${agendamento.descricao}">Reunião do Projeto X</td>
                    <td th:text="${agendamento.data}">2024-01-15</td>
                    <td>
                        <a th:href="@{/admin/{id}/editar(id=${agendamento.id})}" class="btn btn-warning btn-sm">Editar</a>
                        <form th:action="@{/admin/{id}/deletar(id=${agendamento.id})}" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<!-- Modal -->
<div class="modal fade" id="agendamentoModal" tabindex="-1" aria-labelledby="agendamentoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg"> <!-- Aumenta o tamanho do modal -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agendamentoModalLabel">Novo Agendamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/admin/salvar}" method="post">
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Título</label>
                        <input type="text" class="form-control" id="titulo" name="titulo" required>
                    </div>
                    <div class="mb-3">
                        <label for="data" class="form-label">Data</label>
                        <input type="date" class="form-control" id="data" name="data" required>
                    </div>
                    <div class="mb-3">
                        <label for="descricao" class="form-label">Descrição</label>
                        <textarea class="form-control" id="descricao" name="descricao" rows="5" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editarAgendamentoModal" tabindex="-1" aria-labelledby="agendamentoModalLabel" aria-hidden="true" th:if="${editarEvento}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarAgendamentoModalLabel">Editar Agendamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{|/admin/${agendamento.id}/confirmar|}" method="post">
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Título</label>
                        <input type="text" class="form-control" id="editartitulo" name="titulo" required th:value="${agendamento.getTitulo()}">
                    </div>
                    <div class="mb-3">
                        <label for="data" class="form-label">Data</label>
                        <input type="date" class="form-control" id="editardata" name="data" required th:value="${agendamento.getData()}">
                    </div>
                    <div class="mb-3">
                        <label for="descricao" class="form-label">Descrição</label>
                        <textarea class="form-control" id="editardescricao" name="descricao" rows="5" required th:text="${agendamento.getDescricao()}"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<section th:class="footerContainer">
    <footer th:replace="fragments/footer :: footer"></footer>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script th:if="${editarEvento}">
    window.addEventListener('load', function () {
        const editarEvento = [[${editarEvento}]] || false;
        if (editarEvento) {
            const editarModal = new bootstrap.Modal(document.getElementById('editarAgendamentoModal'));
            editarModal.show();
        }
    })
</script>
<script>
        const token = localStorage.getItem('token');

        if (!token) {
            window.location.href = '/admin/login';
        }


</script>
</body>
</html>
