/* Estilo do Calendário */
.calendar-container {
    padding: 50px 0; /* Ajuste conforme necessário */
    margin: 0 auto;
    max-width: 1200px; /* Ajuste conforme necessário */
}

.calendar-body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.week-day, .day {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.week-day {
    font-weight: bold;
    background-color: #f0f0f0;
}

.day.empty, .day.disabled {
    background-color: #f0f0f0;
    color: #888;
}

.day {
    position: relative;
}

.day > div {
    margin-top: 5px;
}

.day > div > button {
    margin-left: 5px;
    color: red;
    background: none;
    border: none;
    cursor: pointer;
}

.day > span {
    display: block;
    font-weight: bold;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

#eventDetails {
    margin-top: 20px;
}

#eventDetails h3 {
    margin-bottom: 10px;
}

/* Estilo para inputs */
input[type="text"],
input[type="time"],
textarea,
button {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para botões */
button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para eventos cadastrados */
.event {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Centralizar os elementos */
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para o contêiner dos selects */
.select-container {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para selects */
select {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
}

/* Estilo específico para os selects de mês e ano */
#monthSelect {
    width: 100px;
}

#yearSelect {
    width: 80px;
}
